{
  "extends": [
    "@lukemorales"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false
      }
    ],
    "no-empty-pattern": "off"
  }
}
